@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    background-color: rgb(56, 55, 55);
    font-family: 'Roboto', sans-serif;
    color: lightgray;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin: 1.5rem 0 1rem 0;
}

h3 {
    font-size: 1.35rem;
    margin: 0 0 1rem 0;
}

.hero {
    width: 100%;
    object-fit: cover;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

header {
    font-family: 'Monoton', cursive;
    font-size: 5vw;
    font-weight: 600;
    word-spacing: 1vw;
    padding: 10px;
    background-color: rgb(56, 55, 55);
    color: whitesmoke;
}

nav {
    overflow: hidden;
    background-color: black;
}

nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 1.3rem;
}

nav a:hover {
    background-color: gainsboro;
    color: black;
}

footer {
    text-align: center;
    font-size: 1rem;
    padding: 5px;
    background-color: rgb(56, 55, 55);
    color: lightgray;
}

.reservations {
    background-color: #9c99a1;
}

.column {
    float: left;
    width: 50%;
    padding: 10px 10px 10px 0px;
    text-align: center;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 12px;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
}

.menu {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(56, 55, 55);
    font-size: 1.2rem;
    padding: 1rem 0;
}

.menu a {
    padding: 1rem 1.5rem;
    min-width: 160px;
    text-align: center;
    border-radius: 6px;
}

.menu a:hover {
    background-color: gainsboro;
    color: black;
}


.food {
    padding: 2rem;
}

.food span {
    color: rgb(192, 133, 145);
    padding-left: 12px;
}

.food-section:before {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 100px;
    margin-top: -100px;
}

.food-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.food-section .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    text-align: center;
    margin-bottom: 1rem;
}

.table-container {
    align-items: flex-start;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table:last-of-type {
    margin-left: 4rem;
}

th,
td {
    text-align: left;
    padding: 16px 24px;
}

h3 {
    padding-top: 25px;
}

td:nth-child(even) {
    color: rgb(192, 133, 145);
}

.clear {
    color: transparent;
}

.privacy {
    margin: 2rem 3rem;
    padding: 1rem 3rem;
}

.privacy h2 {
    text-align: center;
}

.privacy p {
    padding: 1rem;
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    header {
        font-size: 1.80rem;
        text-align: center;
    }

    nav a {
        font-size: 1em;
        float: none;
        padding: 8px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .menu {
        position: relative;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        font-size: 1rem;
    }

    .menu a {
        min-width: auto;
    }

    .food-section:before {
        content: "";
        display: block;
        position: relative;
        width: 0;
        height: 20px;
        margin-top: -20px;
    }

    table:last-of-type {
        margin-left: 0;
    }

    .column {
        width: 100%;
    }

    footer {
        font-size: 0.75rem;
        padding: 16px;
    }

    .privacy {
        margin: 1rem;
        padding: 0;
    }
}